header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
.skills {
    grid-area: skills
}
.about {
    grid-area: about;
}
.proj1 {
    grid-area: proj1;
}
.proj2 {
    grid-area: proj2;
}
footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr auto 1fr 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}